# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Variables
*.tfvars
*.tfvars.json

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log
